#content
  #main-content
    %h1 Sample Pages

    %ul
      %li= link "404"
      %li= link "About"
      %li= link "Contact"
      %li= link "Download"
      %li= link "Gallery"
      %li= link "Simple"
  
  #menu-secondary
  
  #sidebar
