!!!
%html{:xmlns =>"http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Firsthand Web Design

    = abstract @meta_abstract || ""
    = author "Firsthand Web Design, Montreal (www.firsthand.ca)"
    = char_set "UTF-8"
    = description @meta_description || ""
    = keywords @meta_keywords || ""
    = language "en"
    = owner "Nicholas Henry"
    = robots "index, follow"
   
    = dublin_core :publisher => "Firsthand Web Design", :language => "en-US", :date => "2009-02-09", :rights => "© Copyright Firsthand Web Design 2008, 2009"

    = fav_icon

    = google_verify "add-google-webmaster-verification-key"

    = irca_label "(pics-1.1 'http://www.icra.org/pics/vocabularyv03/' l gen true for 'http://firsthand.ca' r (n 0 s 0 v 0 l 0 oa 0 ob 0 oc 0 od 0 oe 0 of 0 og 0 oh 0 c 0) gen true for 'http://www.firsthand.ca' r (n 0 s 0 v 0 l 0 oa 0 ob 0 oc 0 od 0 oe 0 of 0 og 0 oh 0 c 0))"

    = stylesheets :screen, :application, :media => :screen
    = stylesheets :print, :media => :print
    /[if IE]
      = stylesheets :ie

  %body{:id => "site-id"}
    .container
      #masthead
        #branding
          %h1 Firsthand Web Design

          %h2 This is blank static using Haml, Sass, Compass and Blueprint CSS
        #utility
          = partial "utility" 

        #main
          = partial "menu"
          
      %hr.space
      %hr

      #secondary
        = partial "contents"
    
      #content
        = yield
      
      #sidebar
        = partial 'sidebar'
    
      %hr
      #footer
        = partial 'footer'

    = javascripts "http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js", "http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js", "/javascripts/application.js"

    %script{:language=>"javascript", :type=>"text/javascript"}
      jQuery.noConflict();
      firebug.env.height = 100;
            