!!!
%html{:xmlns =>"http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Firsthand Web Design

    %meta{:name => "language", :content => "en"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{"http-equiv" => "content-style-type", :content => "text/css"}
    %meta{:name => "description", :content => "#{@meta_description}"}
    %meta{:name => "abstract", :content => "#{@meta_abstract}"}
    %meta{:name => "keywords", :content => "#{@meta_keywords}"}
    %meta{:name => "author", :content => "Firsthand Web Design, Montreal (www.firsthand.ca)"}
    %meta{:name => "Owner", :content => "Nicholas Henry" }
    %link{:rel => "icon", :href => "favicon.ico" }

    %meta{:name => "Robots", :content => "index, follow"}

    %link{:href => "http://purl.org/DC/elements/1.0/", :rel => "schema.DC"}
    %meta{:name => "DC.Publisher", :content => "Firsthand Web Design" }
    %meta{:name => "DC.Language", :content => "en-US", :scheme => "rfc1766" }
    %meta{:name => "DC.Date", :content => "2009-02-09", :scheme => "iso8601" }
    %meta{:name => "DC.Rights", :content => "© Copyright Firsthand Web Design 2008, 2009" }

    -# A new label should be generated for each site
    %link{:rel => "meta", :href => "http://www.firsthand.ca/labels.rdf", :type => "application/rdf+xml", :title => "ICRA labels"}
    %meta{"http-equiv" => "pics-Label", :content => '(pics-1.1 "http://www.icra.org/pics/vocabularyv03/" l gen true for "http://firsthand.ca" r (n 0 s 0 v 0 l 0 oa 0 ob 0 oc 0 od 0 oe 0 of 0 og 0 oh 0 c 0) gen true for "http://www.firsthand.ca" r (n 0 s 0 v 0 l 0 oa 0 ob 0 oc 0 od 0 oe 0 of 0 og 0 oh 0 c 0))' }

    %meta{:name => "verify-v1", :content => "add google webmaster verification key" }

    %script{:type=>"text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"}
    %script{:language=>"javascript", :type=>"text/javascript"}
      jQuery.noConflict();
    %script{:type=>"text/javascript", :src => "/javascripts/application.js"}

    %script{:type=>"text/javascript", :src => "http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js"}
    %script{:type=>"text/javascript"}
      firebug.env.height = 100;

    = stylesheets :screen, :application, :media => :screen
    = stylesheets :print, :media => :print
    /[if IE]
      = stylesheets :ie
  %body{:id => "site-id"}
    .container
      #masthead
        #branding
          %h1 Firsthand Web Design

          %h2 This is blank static using Haml, Sass, Compass and Blueprint CSS
        #utility.menu-horizontal
          %ul
            %li= link "Home", "/?ref=util"
            %li= link "News", "news.html?ref=util"
            %li= link "Contact", "contact.html?ref=util"

        #main.menu-horizontal
          %ul.level1
            %li.submenu
              = link "Solutions", "solutions.html?ref=main"
              %ul.level2
                %li=link "Global", "global.html?ref=main"
                %li=link "Small Business", "small_business.html?ref=main"
            %li.submenu
              = link "Products", "products.html?ref=main"
              %ul.level2
                %li=link "Enterprise", "enterprise.html?ref=main"
                %li=link "Trial", "trial.html?ref=main"
            %li=link "Services", "services.html?ref=main"
            %li=link "Support", "support.html?ref=main"
            %li.submenu
              =link "Company", "company.html?ref=main"
              %ul.level2
                %li.submenu
                  =link "News", "news.html?ref=main"
                  %ul.level3
                    %li=link "Press Releases"
                    %li=link "Media Coverage"                
                %li=link "Events", "events.html?ref=main" 
                %li=link "Management", "management.html?ref=main"
                %li=link "Contact", "contact.html?ref=main"
            %li= link "Blog", "blog.html?ref=main"
          
      %hr.space
      %hr
      
      #secondary.menu-vertical
        = partial "contents"
    
      #content
        = yield
      
      #sidebar
        = partial 'sidebar'
    
      %hr
      #footer
        #contact
          %p
            %a{:href => "http://www.firsthand.ca"} Firsthand Web Design
            %br
            410-5220 Jeanne Mance
            %br
            Ph 555-555-1234
            %br
            Fax 555-6666-1234
            %br
            %a{:href => "mailto:firsthand@example.com"} firsthand@example.com
        #legal
          %p 
            &copy; 2009 Firsthand Web Design 
            %br
            All Rights Reserved
            %br
            = link "Privacy Statement", "privacy.html?ref=footer"
            %br
            = link "Terms Of Use", "terms.html?ref=footer"