!!!
%html
  %head
    %title {company name}
    = stylesheets :application
    /[if IE]
      = stylesheets :ie_hacks
  -#
    Set @page_template to provide page specific styling. Then you can do
    something like this:
      .home #sidebar
        :display none
  
  %body{:id => "site-id", :class => "#{@page_template}"}
    #wrapper
      #branding
  
      -# 
        loc parameter enables site overlay to identify specific links in web 
        analytics report
      %ul.menu#utility
        %li= link "Home", "home.html?loc=util"
        %li= link "News", "news.html?loc=util"
        %li= link "Contact", "contact.html?loc=util"
      
      .clear
      
      %ul.menu#main
        %li= link "Solutions", "solutions.html?loc=main"
        %li= link "Products", "products.html?loc=main"
        %li= link "Services", "services.html?loc=main"
        %li= link "Support", "support.html?loc=main"
        %li= link "Company", "company.html?loc=main"
        %li= link "Blog", "blog.html?loc=main"

      .clear

        = yield

      .clear
    
      #footer
        #contact
          %p
            {company name}
            %br
            Address
            %br
            Phone Number
            %br
            Fax
            %br
            Email
        #legal
          %p &copy; 2005 {company name}. All Rights Reserved
          %p= link "Privacy Statement", "privacy.html?loc=footer"
          %p= link "Terms Of Use", "terms.html?loc=footer"